/* ==========================================================================
                            HR-MAIN
========================================================================== */
main{
	width:100%;
	height: auto;
	display: block;
	div{
		&.grid-container{
			@include breakpoint(tablet){
				display: grid;
    			grid-template-columns: repeat(2,50vmax);
			}
    		div{
    			&.item{
					height: 50vmax;
    				width: 100%;
    				position: relative;
    				@include transition(.3s);
    				&:nth-child(1){
						background-color:white;
    				}
    				&:nth-child(2){
						background-color:$colorPrincipal;
                        background-image: url('../images/header/hero.jpg');
                       background-repeat: no-repeat;
                        background-size: cover
    				}
    				&:nth-child(3){
                        background-image: url('../images/main/bg-main-2.jpg');
                        background-repeat: no-repeat;
                        background-size: cover
    				}
    				&:nth-child(4){
						background-color:white;
    				}
    				div{
    					&.txt-container{
    						width:100%;
    						height: 100%;
    						padding:5%;
                            max-width: 380px;
                            margin: 0 auto;
    						@include flexCrosbrowsing();
    						justify-content: center;
    						flex-direction: column;
                            @include breakpoint(tablet){
                                max-width: 380px;
                                margin: 0 auto;
                            }
                            @include breakpoint(desktop){
                                max-width: 450px;
                                margin: 0 auto;
                            }
    						p{
                                &.txt-up{
                                    color:$txtContenido;
                                    font-weight: bold;
                                    text-align: center;
                                    @include breakpoint(tablet){
                                        text-align: left;
                                    }
                                }
                                &.txt-general{
                                    font-weight: 400;
                                    color: $txtContenido;
                                    font-size: .9em;
                                    line-height: 1.2em;
                                    @include breakpoint(tablet){
                                        font-size: 1em;
                                        line-height: 1.4em;
                                    }
                                }
    						}
    						h1{
    							font-size: 5em;
    							text-transform: uppercase;
    							font-weight: 800;
                                text-align: left;
    							@include fontSecundaria();
    							color: #000;
    							padding: 10px 0;
                                @include breakpoint(tablet){
                                    font-size: 4em;
                                }
                                @include breakpoint(desktop){
                                    font-size: 6em;
                                }
                                span{
                                    color:$colorSecundario;
                                }
    						}
    					}
    				}
    			}
    			&.item-1{
                    position: relative;
    				img{
    					&.img-header{
    						position: absolute;
    						width: 220px;
    						z-index: 1;
    						top: 87%;
    						left: 50%;
    						margin-left: -110px;
    						@include transition(.3s);
    						@include breakpoint(tablet){
                                width: 200px;
    							top: 30%;
    							left: 76%;
    							margin-left: 0;
    						}
    						@include breakpoint(desktop){
                                width: 280px;
    							top: 30%;
    							left: 80%;
    							margin-left: 0;
    						}
    					}
    				}
    			}
                &.item-2{
                    button{
                        &.btn-down{
                            position: absolute;
                            display: block;
                            border:none;
                            background-color: transparent;
                            width: 65px;
                            height: 65px;
                            bottom: 20%;
                            left:50%;
                            margin-left: -32px;
                            cursor: pointer;
                            @include transition(.3s);
                            -webkit-transform: scale(1); /* WebKit */
                            -moz-transform: scale(1); /* Mozilla */
                            -o-transform: scale(1); /* Opera */
                            -ms-transform: scale(1); /* Internet Explorer */
                            transform: scale(1); /* CSS3 */
                            @include breakpoint(tablet){
                                bottom: 15%;
                                left: -3%;
                                 margin-left: 0;
                            }
                            @include breakpoint(desktop){
                                bottom: 15%;
                                left: -5%;
                                 margin-left: 0;
                            }
                            >img{
                                &.arrow-down{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                            @include breakpoint(desktop){
                                &:hover{
                                    -webkit-transform: scale(1.2); /* WebKit */
                                    -moz-transform: scale(1.2); /* Mozilla */
                                    -o-transform: scale(1.2); /* Opera */
                                    -ms-transform: scale(1.2); /* Internet Explorer */
                                    transform: scale(1.2); /* CSS3 */
                                }
                            }
                        }
                    }
                }
                &.item-3{
                    div{
                        &.txt-container-2{
                            width: 100%;
                            height: 100%;
                            padding:5%;
                            max-width:380px;
                            margin: 0 auto;
                            @include flexCrosbrowsing();
                            justify-content: center;
                            flex-direction: column;
                            text-align: center;
                            @include breakpoint(desktop){
                                max-width:400px;
                                margin: 0 auto;
                                text-align: left;
                            }
                            >p{
                                color:white;
                                font-size: 16px;
                                font-weight: 600;
                                &.txt-descripcion-white{
                                    font-size:16px;
                                    line-height: 20px;
                                    font-weight: 400;
                                    text-align: left;

                                }
                            }
                            >h2{
                                font-size: 2em;
                                text-transform: uppercase;
                                font-weight: 800;
                                text-align: left;
                                @include fontSecundaria();
                                color: white;
                                padding: 10px 0;
                                @include breakpoint(tablet){
                                    font-size: 2.7em;
                                }
                                @include breakpoint(tablet){
                                    font-size: 3.2em;
                                }
                            }
                        }
                    }
                }
                &.item-4{
                    display: block;
                    div{
                        &.container-i4{
                            display: block;
                            a{
                                &.link-next{
                                    position: relative;
                                    @include flexCrosbrowsing();
                                    align-items: center;
                                    justify-content: center;
                                    width: 100%;
                                    height: auto;
                                    text-decoration:none;
                                    color:white;
                                    font-size: 16px;
                                    width:100%;
                                    height: 100%;
                                    cursor: pointer;
                                    overflow: hidden;
                                    >button{
                                        border:none;
                                        background-color: transparent;
                                        position: absolute;
                                        @include flexCrosbrowsing();
                                        justify-content: center;
                                        align-items: center;
                                        cursor: pointer;
                                        font-size: 17px;
                                        text-transform: uppercase;
                                        letter-spacing: 1px;
                                        font-weight: 600;
                                        color:#eb5a54;
                                        >img{
                                            &.next-arrow-i{
                                                width:50px;
                                                margin-right: 10px;
                                            }
                                        }
                                    }
                                    >img{
                                        &.bg-i4{
                                            width:100%;
                                            height: 100%;
                                            object-fit:cover;
                                            @include transition(.3s);
                                                -webkit-transform: scale(1); /* WebKit */
                                                -moz-transform: scale(1); /* Mozilla */
                                                -o-transform: scale(1); /* Opera */
                                                -ms-transform: scale(1); /* Internet Explorer */
                                                transform: scale(1); /* CSS3 */
                                        }
                                    }
                                    @include breakpoint(desktop){
                                        &:hover{
                                            >img{
                                                &.bg-i4{
                                                    -webkit-transform: scale(1.3); /* WebKit */
                                                    -moz-transform: scale(1.3); /* Mozilla */
                                                    -o-transform: scale(1.3); /* Opera */
                                                    -ms-transform: scale(1.3); /* Internet Explorer */
                                                    transform: scale(1.3); /* CSS3 */
                                                }
                                            }
                                        }
                                    }
                                }   
                            }
                        }
                    }
                }
    		}
		}
	}
}


button{
    &.scrollup{
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 2%;
        right:2%;
        background-color: #004ece;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        display: none;
        @include flexCrosbrowsing();
        align-items: center;
        justify-content: center;
        @include transition(.3s);
        -webkit-transform: scale(.9); /* WebKit */
        -moz-transform: scale(.9); /* Mozilla */
        -o-transform: scale(.9); /* Opera */
        -ms-transform: scale(.9); /* Internet Explorer */
        transform: scale(.9); /* CSS3 */
        display: none;
        >img{
            width:8px;
        }
        @include breakpoint(desktop){
            &:hover{
                -webkit-transform: scale(1.2); /* WebKit */
                -moz-transform: scale(1.2); /* Mozilla */
                -o-transform: scale(1.2); /* Opera */
                -ms-transform: scale(1.2); /* Internet Explorer */
                transform: scale(1.2); /* CSS3 */
            }
        }   
    }
}
/* ==========================================================================
                            FIN-HR-MAIN
========================================================================== */
